{% extends 'admin/master.html' %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
  <style>
    .masonry {
        column-count: 3;
        column-gap: 1em;
    }

    /* Responsive layout - makes the menu and the content stack on top of each other */
    @media (max-width:600px) {
        .masonry {
            column-count: 1;
        }
    }

    @media (min-width:601px) and (max-width:900px) {
        .masonry {
            column-count: 2;
        }
    }

    .masonry img {
        width: 100%;
    }

    .masonry a {
        display: block;
        margin-bottom: 1em;
        break-inside: avoid;
    }
  </style>
{% endblock %}

{% block body %}
  {% if current_user.is_authenticated and current_user.is_admin %}
    {{ super() }}
    <h1 class="w3-center">Ada 2025 flask-admin interface</h1>
    <p class="w3-center">Use the menu above to access the Ada database</p>
    <h2 class="w3-center">Machine gallery</h2>
    <div style="margin-top: 1em;" class="row-fluid">
      <div class="masonry">
        {% for m in Machine.query.filter_by(state=MachineState.READY).all() %}
          <a target="_blank" href="{{ m.make_access_url() }}">
            <img src="{{ m.make_url() + '/screenshots/screenshot-thumb.png' }}">
          </a>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock body %}
