[Unit]
Description=Gotty service running emacsclient on port 3840
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu
Environment=TERM=xterm-256color
ExecStart=/usr/bin/gotty --permit-write --port 3840 tmux new -A -s gotty emacsclient --tty -a ''

[Install]
WantedBy=multi-user.target