[Desktop Entry]
Version=1.1
Type=Application
Name=Spyder
Comment=
Exec=/home/ubuntu/jupyter-env/bin/spyder
Icon=/home/ubuntu/Downloads/spyder.png
Path=/home/ubuntu
Terminal=false
StartupNotify=false