[Unit]
Description=Websockify
After=network.target

[Service]
Type=simple
User=ubuntu
Environment="VNC_PORT=5901"
ExecStart=websockify --idle-timeout 129600 --web /usr/share/novnc/ 5901 localhost:5900
Restart=always

[Install]
WantedBy=multi-user.target
