{% extends 'base.jinja2' %}

{% block content %}

  <h2>{{ gettext("Flask-admin interface") }}</h2>
  <a class="w3-button w3-round w3-green" target='_blank' href='/flaskyadmin'>
    {{ icon('unlock') }}
    {{ gettext("Click here to access the flask-admin interface.") }}
  </a>

  {% set keys = ["ADA2025_MAIL_SENDER", "ADA2025_MAIL_SERVER", "ADA2025_MAIL_PORT", "ADA2025_MAIL_USERNAME", "ADA2025_MAIL_PASSWORD", "ADA2025_MAIL_USE_TLS", "ADA2025_MAIL_USE_SSL", "ADA2025_SENTRY_DSN", "ADA2025_SENTRY_ENVIRONMENT", "ADA2025_FLASK_SECRET_KEY", "ADA2025_SQLALCHEMY_URL", "LOGIN_RECAPTCHA", "RECAPTCHA_SITE_KEY", "RECAPTCHA_SECRET_KEY", "GOOGLE_OAUTH2_CLIENT_ID", "GOOGLE_OAUTH2_CLIENT_SECRET"] %}
  <h2>{{ gettext("App configuration") }}</h2>
  <table class="w3-table-all">
    <colgroup>
      <col width="0%" />
      <col width="100%" />
      <col width="0%" />
    </colgroup>
    <thead>
      <th>{{ gettext("Env variable") }}</th>
      <th>{{ gettext("Value") }}</th>
      <th>{{ gettext("Edit") }}</th>
    </thead>
    {% for key in keys %}
      <tr>
        <td>
          {{ key }}
        </td>
        <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">
          {% if not env.get(key) %}
            {{ icon('xmark') }}
          {% elif 'SECRET' in key or 'PASSWORD' in key %}
            {{ icon('key') }}
          {% else %}
            {{ env.get(key) }}
          {% endif %}
        </td>
        <td>
          <a style="w3-btn w3-red">{{ icon('pen-to-square') }}</a>
        </td>
      </tr>
    {% endfor %}
  </table>

  <h2>{{ gettext("Groups") }}</h2>
  <table class="w3-table-all">
    <thead>
      <th>{{ gettext("Name") }}</th>
      <th>{{ gettext("Users") }}</th>
      <th>{{ gettext("Templates") }}</th>
      <th>{{ gettext("Images") }}</th>
    </thead>
    {% for group in Group.query.all() %}
      <tr>
        <td>
          {{ group.name }}
        </td>
        <td>
          {% for user in group.users %}
            {{ user.given_name }} {{ user.family_name }} ({{ user.username }})<br/>
          {% endfor %}
        </td>
        <td>
          {{ group.machine_templates|map(attribute="name")|join("<br/>") }}
        </td>
        <td>
          {{ group.machine_templates|map(attribute="image.name")|unique|join("<br/>") }}
        </td>
      </tr>
    {% endfor %}
  </table>
  <br/>

{% endblock %}
