{% extends 'base.jinja2' %}

{% block content %}

  <h2>{{ gettext("Flask-admin interface") }}</h2>
  <a class="w3-button w3-round w3-green" target='_blank' href='/flaskyadmin'>
    {{ icon('unlock') }}
    {{ gettext("Click here to access the flask-admin interface.") }}
  </a>

  {% set keys = ["ADA2025_SENTRY_DSN", "ADA2025_SENTRY_ENVIRONMENT", "ADA2025_FLASK_SECRET_KEY", "ADA2025_SQLALCHEMY_URL", "LOGIN_RECAPTCHA", "RECAPTCHA_SITE_KEY", "RECAPTCHA_SECRET_KEY", "GOOGLE_OAUTH2_CLIENT_ID",
  "GOOGLE_OAUTH2_CLIENT_SECRET"] %}
  <h2>{{ gettext("App configuration") }}</h2>
  <table class="w3-table-all">
    <colgroup>
      <col width="0%" />
      <col width="100%" />
      <col width="0%" />
    </colgroup>
    <thead>
      <th>{{ gettext("Env variable") }}</th>
      <th>{{ gettext("Value") }}</th>
      <th>{{ gettext("Edit") }}</th>
    </thead>
    {% for key in keys %}
      <tr>
        <td>
          {{ key }}
        </td>
        <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">
          {% if not env.get(key) %}
            {{ icon('xmark') }}
          {% elif 'SECRET' in key %}
            {{ icon('key') }}
          {% else %}
            {{ env.get(key) }}
          {% endif %}
        </td>
        <td>
          <a style="w3-btn w3-red">{{ icon('pen-to-square') }}</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  <br/>

{% endblock %}
