<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  {# w3.css #}
  <link rel="stylesheet" href="/static/w3.css">
  {# fontawesome 6 #}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  {# google fonts - Raleway #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

  {% block head %}
  {% endblock %}

  <style>
    * {
    font-family: 'Roboto Condensed', sans-serif !important;
    }
    a {
    text-decoration: none;
    }
    .hidden {
    display: none
    }
    .uppercase {
    text-transform: uppercase;
    }
    .ada-blue {
    background-color: rgb(2, 70, 179);
    color: white
    }
    td { vertical-align: middle }
   .blur-on-hover:hover {
       filter: blur(2px); /* apply a blur effect to the image */
   }
   .lighten-on-hover:hover {
       opacity: 0.7; /* decrease the opacity to lighten the image */
   }
  </style>

  <title>{{ title }}</title>

  <body class="w3-light-gray">

    <div class="w3-sidebar w3-bar-block w3-collapse w3-card" style="width:250px;" id="mySidebar">
      <button class="w3-bar-item w3-button w3-hide-large" onclick="w3_close()">
        <h1>{{ icon('xmark') }} Close</h1>
      </button>
      <p class="w3-bar-item w3-xlarge">
        <a href="/"><img class="ada-blue" style="border-radius: 19px" src="/static/ada.png" height=38/> {{ gettext('Data Analysis') }}</a>
      </p>
      <p class="w3-bar-item w3-large w3-pale-green">
        {{ gettext('Hey') }}, {{ current_user.given_name }}! {{ icon_regular("face-smile") }} {{ icon_regular('hand-spock') }}
      </p>

      {% for menu_item in main_menu %}
        {% if not menu_item.get("admin_only") or (menu_item.get("admin_only") and current_user.is_admin) %}
          {% if gettext(title) == menu_item["name"] %}
            {# this is the page we're on so highlight it in blue #}
            <a class="w3-bar-item w3-large w3-button ada-blue" href="{{ menu_item['href'] }}">{{ icon(menu_item['icon']) }} {{ menu_item['name'] }}</a>
          {% else %}
            <a class="w3-bar-item w3-large w3-button" href="{{ menu_item['href'] }}">{{ icon(menu_item['icon']) }} {{ menu_item['name'] }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <br/>
      <a class="w3-bar-item w3-large w3-button w3-pale-red" href="/logout">{{ icon("sign-out") }} {{ gettext('Sign out') }}</a>
    </div>

    <div class="w3-main" style="margin-left:250px">

      <div class="ada-blue">

        <div class="w3-container">
          {% for menu_item in main_menu %}
            {% if menu_item["name"] == title %}
              <button class="w3-button w3-hide-large" onclick="w3_open()"><h1>{{ icon('bars') }} Menu</h1></button>
              <h1 class="w3-hide-medium w3-hide-small">{{ icon(menu_item["icon"]) }} {{ title }}</h1>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="w3-container w3-light-gray">
        <div class="w3-panel w3-white">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                {% if category == "danger" %}
                  <p class="w3-red w3-padding-large w3-round">{{ message }}</p>
                {% else %}
                  <p class="w3-green w3-padding-large w3-round">{{ message }}</p>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}
          {% endblock %}
        </div>

        <div class="w3-container w3-panel w3-white">
          <p>ADA {{ version }} on {{ hostname }} - <a href="/about">About</a></p>
        </div>
      </div>
    </div>

    <script>
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
      }

      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
      }
    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"></script>
    {% block javascript %}
    {% endblock %}

  </body>
</html>
