{% extends 'base.jinja2' %}

{% macro render_field(field, css_class='') %}
<label class="w3-label">{{ field.label }}</label>
{{ field(class=css_class) }}
{% endmacro %}

{% block content %}
  {% if current_user.data_transfer_jobs %}
    {{ info(gettext("This table shows the state of your data transfers. Refresh page to update status.")) }}
    <div class="w3-container w3-blue">
      <h2>{{ gettext("Your Data Transfers") }}</h2>
    </div>
    <div class="w3-container w3-pale-blue">
      <p>
        <table class="w3-table-all">
          <thead>
            <th>{{ gettext("From (Data Source)") }}</th>
            <th>{{ gettext("To (Machine)") }}</th>
            <th>{{ gettext("Status") }}</th>
            <th>{{ gettext("Dismiss") }}</th>
          </thead>
          {% for j in current_user.data_transfer_jobs if j.status != DataTransferJobState.REMOVED %}
            <tr>
              <td style="vertical-align: middle;">{{ j.data_source.source_host }}:{{ j.data_source.source_dir }}</td>
              <td style="vertical-align: middle;">{{ j.machine.name }}</td>
              <td style="vertical-align: middle;">{{ j.status.name }}</td>

              <td style="vertical-align: middle;">
                <a href="#" class="w3-button w3-green w3-small w3-round"
                   onclick="event.preventDefault();
                   var xhr = new XMLHttpRequest();
                   xhr.open('POST', '/dismiss_datatransferjob');
                   xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                   xhr.onreadystatechange = function() {
                   if (xhr.readyState === XMLHttpRequest.DONE) {
                   location.reload(); // reload the page after the request is finished
                   }
                   };
                   xhr.send('job_id={{ j.id }}');">{{ icon('check') }}
                </a>
              </td>

            </tr>
          {% endfor %}
        </table>
      </p>
    </div>
  {% endif %}

  {{ info(gettext("Here you can transfer data into your machine from registered data sources")) }}

  {{ idea(gettext("Select the data source and a machine you want to copy the data to and then click submit. The data will be copied into your machine.")) }}

  {{ idea(gettext("Please ensure you have enough space on your chosen machine to copy the data. If your machine disk becomes completely full, the machine may stop working.")) }}

  {{ idea(gettext("Data source sizes are not updated in real-time and may be outdated.")) }}

  <form action="/data" method="POST">
    {{ form.csrf_token }}
    <div class="w3-container w3-yellow">
      <h2>{{ gettext("New Data Transfer") }}</h2>
    </div>
    <div class="w3-container w3-pale-yellow">
        <p>
            <label class="w3-label">{{ gettext("Data Source") }}</label>
            {{ form.data_source(class="w3-input w3-white") }}
        </p>
        <p>
            <label class="w3-label">{{ gettext("Machine") }}</label>
            {{ form.machine(class="w3-input w3-white") }}
        </p>

        {{ form.submit(class="w3-button w3-round w3-blue") }}
        <br/>
        <br/>
    </div>
    <br/>
  </form>

{% endblock %}
