{% extends 'base.jinja2' %}

{% macro render_field(field, css_class='') %}
<label class="w3-label">{{ field.label }}</label>
{{ field(class=css_class) }}
{% endmacro %}

{% block content %}
  {% if current_user.data_transfer_jobs %}
    {{ info(gettext("This table shows the state of your data transfers. Refresh page to update status.")) }}
    <div class="w3-container w3-blue">
      <h2>{{ gettext("Your Data Transfers") }}</h2>
    </div>
    <div class="w3-container w3-pale-blue">
      <p>
        <table class="w3-table-all">
          <thead>
            <th>{{ gettext("From (Data Source)") }}</th>
            <th>{{ gettext("To (Machine)") }}</th>
            <th>{{ gettext("Status") }}</th>
            <th>{{ gettext("Actions") }}</th>
          </thead>
          {% for j in sorted_jobs %}
          <tr>
              <td style="vertical-align: middle;">{{ j.data_source.name }}</td>
              <td style="vertical-align: middle;">{{ j.machine.display_name }}</td>
              <td style="vertical-align: middle;">{{ j.state.name }}</td>

              <td style="vertical-align: middle;">
                <a href="#" class="w3-button w3-green w3-small w3-round"
                   onclick="event.preventDefault();
                   var xhr = new XMLHttpRequest();
                   xhr.open('POST', '/dismiss_datatransferjob');
                   xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                   xhr.onreadystatechange = function() {
                   if (xhr.readyState === XMLHttpRequest.DONE) {
                   location.reload(); // reload the page after the request is finished
                   }
                   };
                   xhr.send('job_id={{ j.id }}');">{{ icon('check') }}
                </a>
                <a href="{{ url_for('report_problem', data_transfer_job_id=j.id, machine_id=j.machine.id, title=gettext('Problem with data transfer from ') + j.data_source.name + gettext(' to machine ') + j.machine.display_name ) }}"
                   class="w3-button w3-small w3-blue-gray w3-round"
                   title="Report problem">
                    {{ icon('flag') }}
                </a>
              </td>

            </tr>
          {% endfor %}
        </table>
      </p>
    </div>
  {% endif %}

  {{ info(gettext("Here you can transfer data into your machine from registered data sources and other machines")) }}

  {{ idea(gettext("Select the data source and a machine you want to copy the data to and then click submit. The data will be copied into your machine.")) }}

  {{ idea(gettext("Please ensure you have enough space on your chosen machine to copy the data. If your machine disk becomes completely full, the machine may stop working.")) }}

  {{ idea(gettext("Data source sizes are not updated in real-time and may be outdated.")) }}

  <form action="/data" method="POST">
    {{ data_transfer_form.hidden_tag() }}
    <div class="w3-container w3-yellow">
      <h2>{{ gettext("New Data Transfer") }}</h2>
    </div>
    <div class="w3-container w3-pale-yellow">
        <p>
            {{ data_transfer_form.data_source.label() }}
            {{ data_transfer_form.data_source(class="w3-input w3-round w3-white") }}
        </p>
        <p>
            {{ data_transfer_form.machine.label() }}
            {{ data_transfer_form.machine(class="w3-input w3-round w3-white") }}
        </p>

        {{ data_transfer_form.submit(class="w3-button w3-round w3-blue") }}
        <br/>
        <br/>
    </div>
    <br/>
  </form>

  <form action="/data" method="POST">
    {{ machine_data_transfer_form.hidden_tag() }}
    <div class="w3-container w3-red">
      <h2>{{ gettext("New Machine Data Transfer") }}</h2>
    </div>
    <div class="w3-container w3-pale-red">
        <p>
            {{ machine_data_transfer_form.data_source.label() }}
            {{ machine_data_transfer_form.data_source(class="w3-input w3-round w3-white") }}
        </p>
        <p>
            {{ machine_data_transfer_form.machine.label() }}
            {{ machine_data_transfer_form.machine(class="w3-input w3-round w3-white") }}
        </p>

        {{ machine_data_transfer_form.submit(class="w3-button w3-round w3-blue") }}
        <br/>
        <br/>
    </div>
    <br/>
  </form>

{% endblock %}
