{% extends 'base.jinja2' %}

{% block content %}

  {{ info(gettext("You're the admin of the group: {group}. This page allows you to activate/deactive users and set other properties for the group."), group=current_user.group.name) }}

  <h2>{{ gettext("Group Management") }}</h2>

  <div class="w3-row">
    <div class="w3-half my-half" style="padding-right: 5px; width: 40%;">
      <div class="w3-container w3-dark-gray">
        <h3>{{ gettext("Users") }}</h3>
      </div>
      <div class="w3-container w3-light-gray">
        {{ info(gettext("You can enable, disable, and remove users from the group, and set their data sources.")) }}
        <p>
          <table class="w3-table-all">
            <thead>
              <th>{{ gettext("Username") }}</th>
              <th>{{ gettext("Email") }}</th>
              <th>{{ gettext("Account created") }}</th>
              <th style="text-align: right">{{ gettext("Actions") }}</th>
            </thead>
            {% for u in group_users %}
              <tr class="{% if u.is_enabled %} w3-pale-green {% else %} w3-pale-red {% endif %}">
                <td style="vertical-align: middle;">
                  {% if u.is_enabled %}
                    <span class="w3-green w3-round">{{ icon('check') }}</span>
                  {% else %}
                    <span class="w3-red w3-round">{{ icon('xmark') }}</span>
                  {% endif %}
                  &nbsp;
                  {{ u.username }}
                </td>
                <td style="vertical-align: middle;">
                  {% if u.provider == "google" %}
                    <i class="fa-brands fa-fw fa-google"></i>
                  {% endif %}
                  {{ u.email }}</td>
                  <td style="vertical-align: middle;">{{ humanize.naturaldelta(time_now - u.creation_date) }} ago</td>
                <td style="vertical-align: middle; text-align: right">
                  {% if not (u.id == current_user.id or u.is_group_admin or u.is_admin) %}
                  {% if u.is_enabled %}
                    <a href="#"
                       title="Disable user account"
                       class="w3-button w3-pale-red w3-round user-disable"
                       data-user-id="{{ u.id }}">
                       {{ icon('user-xmark') }}
                    </a>
                  {% else %}
                    <a href="#"
                       title="Enable user account"
                       class="w3-button w3-pale-green w3-round user-enable"
                       data-user-id="{{ u.id }}">
                       {{ icon('user-check') }}
                    </a>
                  {% endif %}
                  <a href="{{ url_for('setup_user', user_id=u.id) }}"
                     title="Set data sources"
                     class="w3-button w3-pale-yellow w3-round">
                     {{ icon('user-cog') }}
                  </a>
                  <a href="#"
                     title="Remove user"
                     class="w3-button w3-gray w3-round user-remove"
                     data-user-id="{{ u.id }}">
                     {{ icon('user-slash') }}
                  </a>
                {% else %}
                  <button class="w3-button w3-gray w3-round" disabled>{{ icon('user-xmark') }}</button>
                  <button class="w3-button w3-gray w3-round" disabled>{{ icon('user-cog') }}</button>
                  <button class="w3-button w3-gray w3-round" disabled>{{ icon('user-slash') }}</button>
                {% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        </p>
      </div>
      <br/>
    </div>
    <div class="w3-half my-half" style="padding-left: 5px; width: 60%">
      <div class="w3-container w3-dark-gray">
        <h3>{{ gettext("Machines") }}</h3>
      </div>
      <div class="w3-container w3-light-gray">
        {{ info(gettext("You can view your group's machine resource usage here.")) }}
        <table class="w3-table w3-white w3-border w3-bordered">
          <thead>
            <th>{{ gettext("Owner username") }}</th>
            <th>{{ gettext("Owner name") }}</th>
            <th>{{ gettext("Machine name") }}</th>
            <th>{{ gettext("State") }}</th>
            <th>{{ gettext("Template") }}</th>
            <th>{{ gettext("Creation date") }}</th>
            <th style="text-align: right">{{ gettext("Actions") }}</th>
          </thead>
          {% for m in group_machines %}
            <tr class="{% if m[1].state == MachineState.READY %} w3-pale-green {% elif m[1].state in [MachineState.STARTING, MachineState.STOPPING, MachineState.PROVISIONING, MachineState.STOPPED] %} w3-pale-yellow {% else %} w3-pale-red {% endif %}">
              <td style="vertical-align: middle;">
                {{ m[0].username }}
              </td>
              <td style="vertical-align: middle;">
                {{ m[0].given_name }} {{ m[0].family_name }}
              </td>
              <td style="vertical-align: middle;">
                {{ m[1].display_name }}
              </td>
              <td style="vertical-align: middle;">
                {% set machine_state_as_string = m[1].state | string %}
                {{ machine_state_as_string[13:] }}
              </td>
              <td style="vertical-align: middle;">
                {{ m[2].name }}
              </td>
              <td style="vertical-align: middle;">{{ humanize.naturaldelta(time_now - m[1].creation_date) }} ago</td>
              <td style="vertical-align: middle; text-align: right">
              <a class="w3-button w3-round w3-blue email-owner" style="margin-left: 5px;" 
                 title="Email machine owner to inform them that their machine may be shut down or deleted."
                 data-machine-id='{{ m[1].id }}'
                 data-machine-display-name='{{ m[1].display_name|tojson|safe }}'>
                  {{ icon('envelope') }}
              </a>
                {% if m[1].state in [MachineState.READY, MachineState.FAILED] %}
                  <button
                    onclick='confirm_deletion({{ m[1].display_name|tojson|safe }}, {{ m[1].id }})'
                    class="w3-button w3-red w3-round"
                    title='{{ gettext("Stop and remove machine") }}'>
                    {{ icon('trash') }}
                  </button>
                  <form style="display: inline" id="stop-form-{{ m[1].id }}" action="/stop_machine?source_page=group_mgmt" method="POST">
                    <input type="hidden" name="machine_id" value="{{ m[1].id }}">
                  </form>
                {% else %}
                  <button
                    onclick='confirm_deletion({{ m[1].display_name|tojson|safe }}, {{ m[1].id }})'
                    class="w3-button w3-red w3-round"
                    title='{{ gettext("Stop and remove machine") }}' disabled>
                    {{ icon('trash') }}
                  </button>
                {% endif %}
                {% if m[1].state == MachineState.READY and m[2].extra_data.get("can_shutdown", False)%}
                    <button
                       onclick='confirm_shutdown({{ m[1].display_name|tojson|safe }}, {{ m[1].id }})'
                       class="w3-button w3-orange w3-round"
                       title='{{ gettext("Shut down machine") }}'>
                       {{ icon('power-off') }}
                    </button>
                    <form style="display: inline" id="shutdown-form-{{ m[0].id }}" action="/shutdown_machine?source_page=group_mgmt" method="POST">
                      <input type="hidden" name="machine_id" value="{{ m[0].id }}">
                    </form>
                {% elif m[1].state == MachineState.STOPPED %}
                    <a href="#"
                       onclick="document.getElementById('resume-form-{{ m[1].id }}').submit();"
                       class="w3-button w3-green w3-round"
                       title='{{ gettext("Power on machine") }}'>
                       {{ icon('power-off') }}
                    </a>
                    <form style="display: inline" id="resume-form-{{ m[1].id }}" action="/resume_machine?source_page=group_mgmt" method="POST">
                      <input type="hidden" name="machine_id" value="{{ m[1].id }}">
                    </form>
                {% else %}
                    <button
                       onclick='confirm_shutdown({{ m[1].display_name|tojson|safe }}, {{ m[1].id }})'
                       class="w3-button w3-orange w3-round"
                       title='{{ gettext("Shut down machine") }}' disabled>
                       {{ icon('power-off') }}
                    </button>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
        <br/>
      </div>
      <br/>
    </div>
  </div>

  <div class="w3-container w3-dark-gray">
    <h3>Welcome page</h3>
  </div>
  <div class="w3-container w3-light-gray">
    <p>
      <form method="POST">
        {{ welcome_page_form.hidden_tag() }}
        {{ info(gettext("You can set the group welcome page content. The page is formatted in HTML format.")) }}
        <p>{{ welcome_page_form.content(class="w3-input w3-border w3-round") }}</p>
        <p>{{ welcome_page_form.submit_welcome_page(class="w3-button w3-round w3-blue", rows=20) }}</p>
      </form>
    </p>
  </div>
  <br/>

  <div class="w3-container w3-dark-gray">
    <h3>{{ gettext("Group Name") }}</h3>
  </div>
  <div class="w3-container w3-light-gray">
    <p>
      <form method="POST">
        {{ group_name_form.hidden_tag() }}
        {{ info(gettext("You can enter a new group name below.")) }}
        <p>{{ group_name_form.name_field(class="w3-input w3-border w3-round") }}</p>
        <p>{{ group_name_form.submit_group_name(class="w3-button w3-round w3-blue") }}</p>
      </form>
    </p>
  </div>
  <br/>

{% endblock %}

{% block javascript %}

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
      const sendUserIDPostRequest = (url, userId) => {
          fetch(url, {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ user_id: userId })
          })
              .then(response => location.reload())
              .catch(error => console.error('Error:', error));
      };

      const sendMachineIDPostRequest = (url, machineId) => {
          fetch(url, {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ machine_id: machineId })
          })
              .then(response => location.reload())
              .catch(error => console.error('Error:', error));
      };

      document.querySelectorAll('.user-enable').forEach(item => {
          item.addEventListener('click', event => {
              event.preventDefault();
              sendUserIDPostRequest('/enable_user', item.dataset.userId);
          });
      });

      document.querySelectorAll('.user-disable').forEach(item => {
          item.addEventListener('click', event => {
            var result = window.confirm('Are you sure you want to disable this account? Press OK to confirm this action.');
            if (result){
              event.preventDefault();
              sendUserIDPostRequest('/disable_user', item.dataset.userId);
            }
          });
      });

      document.querySelectorAll('.user-remove').forEach(item => {
          item.addEventListener('click', event => {
          var result = window.confirm('Are you sure you want to remove this account? Press OK to confirm this action.');
            if (result) {
              event.preventDefault();
              sendUserIDPostRequest('/remove_user', item.dataset.userId);
            }
          });
      });

      document.querySelectorAll('.email-owner').forEach(item => {
          item.addEventListener('click', event => {
          var result = window.confirm('You have selected to email the owner of machine titled ' + item.dataset.machineDisplayName + '. This will inform them that their machine may be removed. Is this ok?');
            if (result) {
              event.preventDefault();
              sendMachineIDPostRequest('/email_machine_owner', item.dataset.machineId);
            }
          });
      });
 });

 function confirm_shutdown(machine_display_name, machine_id) {
      if (confirm('You have selected to shutdown machine titled ' + machine_display_name + '. Is this ok?')){
        document.getElementById('shutdown-form-'+machine_id).submit();
      } else {
        alert('Machine will not be shutdown.');
      }
  }

  function confirm_deletion(machine_display_name, machine_id) {
      if (confirm('You have selected to stop and remove machine titled ' + machine_display_name + '. This action is irreversible. Is this ok?')){
        document.getElementById('stop-form-'+machine_id).submit();
      } else {
        alert('Machine will not be deleted.');
      }
  }
</script>

{% endblock %}
