{% extends 'base.jinja2' %}

{% block content %}

  {{ info(gettext("You're the admin of the group: {group}. This page allows you to activate/deactive users and set other properties for the group."), group=current_user.group.name) }}

  <h2>{{ gettext("Group Management") }}</h2>

  <div class="w3-row">
    <div class="w3-half my-half" style="padding-right: 5px;">
      <div class="w3-container w3-dark-gray">
        <h3>{{ gettext("Users") }}</h3>
      </div>
      <div class="w3-container w3-light-gray">
        {{ info(gettext("You can enable, disable, and remove users from the group, and set their data sources.")) }}
        <p>
          <table class="w3-table-all">
            <thead>
              <th>{{ gettext("Username") }}</th>
              <th>{{ gettext("Email") }}</th>
              <th>{{ gettext("Account created") }}</th>
              <th style="text-align: right">{{ gettext("Actions") }}</th>
            </thead>
            {% for u in group_users %}
              <tr class="{% if u.is_enabled %} w3-pale-green {% else %} w3-pale-red {% endif %}">
                <td style="vertical-align: middle;">
                  {% if u.is_enabled %}
                    <span class="w3-green w3-round">{{ icon('check') }}</span>
                  {% else %}
                    <span class="w3-red w3-round">{{ icon('xmark') }}</span>
                  {% endif %}
                  &nbsp;
                  {{ u.username }}
                </td>
                <td style="vertical-align: middle;">
                  {% if u.provider == "google" %}
                    <i class="fa-brands fa-fw fa-google"></i>
                  {% endif %}
                  {{ u.email }}</td>
                  <td style="vertical-align: middle;">{{ humanize.naturaldelta(time_now - u.creation_date) }} ago</td>
                <td style="vertical-align: middle; text-align: right">
                  {% if not (u.id == current_user.id or u.is_group_admin or u.is_admin) %}
                  {% if u.is_enabled %}
                    <a href="#"
                       title="Disable user account"
                       class="w3-button w3-pale-red w3-round user-disable"
                       data-user-id="{{ u.id }}">
                       {{ icon('user-xmark') }}
                    </a>
                  {% else %}
                    <a href="#"
                       title="Enable user account"
                       class="w3-button w3-pale-green w3-round user-enable"
                       data-user-id="{{ u.id }}">
                       {{ icon('user-check') }}
                    </a>
                  {% endif %}
                  <a href="{{ url_for('setup_user', user_id=u.id) }}"
                     title="Set data sources"
                     class="w3-button w3-pale-yellow w3-round">
                     {{ icon('user-cog') }}
                  </a>
                  <a href="#"
                     title="Remove user"
                     class="w3-button w3-gray w3-round user-remove"
                     data-user-id="{{ u.id }}">
                     {{ icon('user-slash') }}
                  </a>
                {% else %}
                  <button class="w3-button w3-gray w3-round" disabled>{{ icon('user-xmark') }}</button>
                  <button class="w3-button w3-gray w3-round" disabled>{{ icon('user-cog') }}</button>
                  <button class="w3-button w3-gray w3-round" disabled>{{ icon('user-slash') }}</button>
                {% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        </p>
      </div>
      <br/>
    </div>
    <div class="w3-half my-half" style="padding-left: 5px;">
      <div class="w3-container w3-dark-gray">
        <h3>{{ gettext("Machines") }}</h3>
      </div>
      <div class="w3-container w3-light-gray">
        {{ info(gettext("You can view your group's machine resource usage here.")) }}
        <table class="w3-table w3-white w3-border w3-bordered">
          <thead>
            <th>{{ gettext("Owner username") }}</th>
            <th>{{ gettext("Owner name") }}</th>
            <th>{{ gettext("Machine name") }}</th>
            <th>{{ gettext("State") }}</th>
            <th>{{ gettext("Template") }}</th>
            <th>{{ gettext("Creation date") }}</th>
          </thead>
          {% for m in group_machines %}
            <tr class="{% if m[1].state == MachineState.READY %} w3-pale-green {% elif m[1].state in [MachineState.STARTING, MachineState.STOPPING, MachineState.PROVISIONING] %} w3-pale-yellow {% else %} w3-pale-red {% endif %}">
              <td style="vertical-align: middle;">
                {{ m[0].username }}
              </td>
              <td style="vertical-align: middle;">
                {{ m[0].given_name }} {{ m[0].family_name }}
              </td>
              <td style="vertical-align: middle;">
                {{ m[1].display_name }}
              </td>
              <td style="vertical-align: middle;">
                {% set machine_state_as_string = m[1].state | string %}
                {{ machine_state_as_string[13:] }}
              </td>
              <td style="vertical-align: middle;">
                {{ m[2].name }}
              </td>
              <td style="vertical-align: middle;">{{ humanize.naturaldelta(time_now - m[1].creation_date) }} ago</td>

            </tr>
          {% endfor %}
        </table>
        <br/>
      </div>
      <br/>
    </div>
  </div>

  <div class="w3-container w3-dark-gray">
    <h3>Welcome page</h3>
  </div>
  <div class="w3-container w3-light-gray">
    <p>
      <form method="POST">
        {{ welcome_page_form.hidden_tag() }}
        {{ info(gettext("You can set the group welcome page content. The page is formatted in HTML format.")) }}
        <p>{{ welcome_page_form.content(class="w3-input w3-border w3-round") }}</p>
        <p>{{ welcome_page_form.submit_welcome_page(class="w3-button w3-round w3-blue", rows=20) }}</p>
      </form>
    </p>
  </div>
  <br/>

  <div class="w3-container w3-dark-gray">
    <h3>{{ gettext("Group Name") }}</h3>
  </div>
  <div class="w3-container w3-light-gray">
    <p>
      <form method="POST">
        {{ group_name_form.hidden_tag() }}
        {{ info(gettext("You can enter a new group name below.")) }}
        <p>{{ group_name_form.name_field(class="w3-input w3-border w3-round") }}</p>
        <p>{{ group_name_form.submit_group_name(class="w3-button w3-round w3-blue") }}</p>
      </form>
    </p>
  </div>
  <br/>

{% endblock %}

{% block javascript %}

<script type="text/javascript">
 document.addEventListener('DOMContentLoaded', function() {
     const sendPostRequest = (url, userId) => {
         fetch(url, {
             method: 'POST',
             headers: { 'Content-Type': 'application/json' },
             body: JSON.stringify({ user_id: userId })
         })
             .then(response => location.reload())
             .catch(error => console.error('Error:', error));
     };

     document.querySelectorAll('.user-enable').forEach(item => {
         item.addEventListener('click', event => {
             event.preventDefault();
             sendPostRequest('/enable_user', item.dataset.userId);
         });
     });

     document.querySelectorAll('.user-disable').forEach(item => {
         item.addEventListener('click', event => {
             event.preventDefault();
             sendPostRequest('/disable_user', item.dataset.userId);
         });
     });

     document.querySelectorAll('.user-remove').forEach(item => {
         item.addEventListener('click', event => {
             event.preventDefault();
             sendPostRequest('/remove_user', item.dataset.userId);
         });
     });
 });
</script>

{% endblock %}
