{% extends 'base.jinja2' %}

{% block content %}

  <h2>ADA Help</h2>

  <p>Welcome to the ADA Data Analysis 2025 Help page.</p>

  <h3>Reporting problems</h3>

  <p>
    We're sorry that you've experienced a problem on Ada. If you would like to tell us about your experience, you can submit a problem report at the
    <a style="text-decoration: underline !important;"
       href="{{ url_for('report_problem') }}">
       problem report page
    </a>
    or email us at {{ email("ada@stfc.ac.uk") }}.
  </p>
  <p>You can also use the green flag buttons on the Machine and Data page to submit a problem report.</p>
  <p>You don't have to report site errors such as error 500. These are automatically reported to us.</p>

  <h3>User Guides</h3>

  <p>We've written three guides depending on what you're trying to do:</p>

  <h4>
    <a style="text-decoration: underline !important;"
       target="_blank"
       href="https://ada.stfc.ac.uk/docs/user_guide.html">
       Ada User Guide
    </a>
  </h4>
  <p><i>Learn how to create a virtualized Linux desktop environment, also known as a machine, to access your data and perform analysis tasks.</i></a>

  <h4>
    <a style="text-decoration: underline !important;"
       target="_blank"
       href="https://ada.stfc.ac.uk/docs/group_admin_guide.html">
       Ada Group Admin Guide
    </a>
  </h4>
  <p><i>Learn about the abilities and responsibilities of a group admin, such as group user management and customization.</i></p>

  <h4>
    <a style="text-decoration: underline !important;"
       target="_blank"
       href="https://ada.stfc.ac.uk/docs/system_admin_guide.html">
       Ada System Admin Guide
    </a>
  </h4>
  <p><i>Learn how to operate the Ada site as a system admin.</i></p>

  <h3>Feedback and Suggestions</h3>
<p>We value your feedback! If you have any suggestions, feature requests, or general feedback regarding ADA Data Analysis 2025, please let us know. We appreciate your input as we continuously strive to improve our service.</p>
<p>Thank you for choosing ADA Data Analysis 2025. We hope this Help page serves as a valuable resource, enabling you to harness the full potential of our platform for your data analysis needs. Should you require further assistance, feel free to reach out to our support team at {{ email("ada@stfc.ac.uk") }}.</p>

<p>Happy analyzing!</p>

{% endblock %}
