{% extends 'base.jinja2' %}

{% block content %}

<h2>Help</h2>

<p>To report a general problem with the service you can:</p>
<p>
<ul class="w3-ul w3-pale-blue">
    <li>On the Machine page, you can click the report machine problem button.</li>
    <li>On the Data you can click the report data transfer job problem button.</li>
</ul>
</p>

<p>For other problems, <a href="/report_problem"><strong>please click here</strong>.</a></p>


{% endblock %}
