{% extends 'base-bare.jinja2' %}

{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == "danger" %}
          <p class="w3-red w3-padding-large w3-round">{{ message }}</li>
        {% else %}
          <p class="w3-green w3-padding-large w3-round">{{ message }}</li>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form method="POST" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}

    <p>
      {{ form.username.label() }} 
      {{ form.username(class="w3-input w3-round w3-border w3-light-grey") }}
    </p>
    <p>
      {{ form.password.label() }} 
      {% if MAIL_SENDER %} 
      <a href="/forgot_password" style="float: right; text-decoration: underline; color: blue;"> (Forgot Password?)</a>
      {% endif %}
      {{ form.password(class="w3-input w3-round w3-border w3-light-grey") }}
    </p>

    <div class="w3-row">
      <div class="w3-half">
        {% if LOGIN_RECAPTCHA %}
          {{ recaptcha }}
          <br>
        {% endif %}

        <button class="w3-btn w3-round ada-blue" type="submit">{{ gettext("Log In") }}</button>
        <a class="w3-btn w3-round ada-blue" href="/register">{{ gettext("Register") }}</a>
        <br/>
        <p>Or use federated sign-up/sign-in:</p>
        {% if show_google_button %}
        <a class="w3-btn w3-round w3-green" href="/google_login">
            <i class="fa-brands fa-fw fa-google"></i> {{ gettext("Google") }}
        </a>
        {% endif %}
        {% if show_iris_iam_button %}
        <a class="w3-btn w3-round w3-green" href="/iris_iam_login">
            <i class="fa fa-fw fa-eye"></i> {{ gettext("IRIS IAM") }}
        </a>
        {% endif %}
      </div>
      <div class="w3-half">

        <a target="_blank" style="float: right; text-decoration: underline; color: blue;" href="{{ url_for('privacy') }}">Privacy policy</a>
      </div>
    </div>
  </form>

{% endblock %}
