{% extends 'base.jinja2' %}

{% block content %}
  <br/>

  <div class="w3-container w3-blue">
    <h2>New Image</h2>
  </div>

  <div class="w3-container w3-pale-blue">
    <form method="POST">
    <p>
      <label>New image name:</label>
      <input class="w3-input w3-round w3-white" name="new_image_name" value="{{ buildjson['name'] + '-' + time_now.strftime('%Y%m%d') }}">
</input>
    </p>

    <p>
      <label>Machine provider (where the image will be built):</label>
      <select class="w3-input w3-round w3-white" name="machine_provider">
        {% for machine_provider in machine_providers %}
          <option value="{{ machine_provider.id }}">{{ machine_provider.name }}</option>
        {% endfor %}
      </select>
    </p>

    <h3>Image build parameters</h3>
    {% for param in buildjson["params"]  %}
      <p>
        <label>{{ param["name"] }}:</label>
        {% if param["type"] == "bool" %}
          <select class="w3-input w3-round w3-white" name="param_{{ param['name'] }}" required>
            <option value="True">True</option>
            <option value="False">False</option>
          </select>
       {% elif param["type"] == "textline" %}
          <input class="w3-input w3-round w3-white" name="param_{{ param['name'] }}" required></input>
        {% elif param["type"] == "option" %}
          <select class="w3-input w3-round w3-white" name="param_{{ param['name'] }}" required>
            {% for option in param["options"] %}
              <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
          </select>
        {% endif %}
      </p>
    {% endfor %}
    <p>
      <input class="w3-button w3-round w3-blue" name="submit_data_transfer" type="submit" value="Submit">
    </p>
    </form>
  </div>
  <br/>
{% endblock %}
