{% extends 'base-bare.jinja2' %}

{% block head %}
<meta http-equiv="refresh" content="60">
{% endblock %}

{% block content %}

<h2>Thank you for signing up.</h2>

<p>Your account has been created, but it has to be activated by staff, which typically happens within 24 hours.</p>

<p>Please check back later.</p>

{% endblock %}
