{% extends 'base-bare.jinja2' %}

{% block content %}

<h2>Privacy Policy for Ada Data Analysis</h2>

<h3>1. What personal info we collect and why</h3>

<p>When you sign up for Ada Data Analysis, you give us certain information voluntarily. This includes your name, email address, organization, and job title. We use this information to help group admins decide if you belong in their groups.</p>

<h3>2. We don’t share your personal information</h3>

<p>We do not share your personal information with any third-party companies or services. We use Sentry.io for error reporting, but we try to make sure your personal information isn’t included in these reports.</p>

<h3>3. Use of reCAPTCHA</h3>

<p>On our login and registration pages, we sometimes use a service provided by Google called reCAPTCHA to help protect our platform from spam and abuse. When this service is enabled by us, your use of the login and registration pages is subject to Google's Privacy Policy and Terms of Service.</p>

<h3>4. Use of Content Delivery Networks</h3>

<p>Our pages integrate fonts that your browser accesses from the Cloudflare Content Delivery Network (CDN), and from Google Fonts. This means that your network address and some browser details are sent to these services due to your browser making these requests. These requests are made to ensure that our website loads quickly and displays correctly in your browser. You can learn more about how these services use your data by visiting their respective privacy policies.</p>

<h3>5. Cookies and similar stuff</h3>

<p>We use things called cookies on our platform. These help you log in and keep your settings the same. We also store some settings information in your local storage.</p>

<h3>6. Keeping your data safe</h3>

<p>We do our best to keep your personal information safe. We keep it in a database that only certain people working on the Ada Data Analysis project can access.</p>

<h3>7. Your rights</h3>

<p>You have the right to access and change your personal information at any time. You can do this on the settings page of our platform. If you want to delete your account, send an email to ada@stfc.ac.uk.</p>

<h3>8. If we change this policy</h3>

<p>Sometimes we may need to change this privacy policy. If we do, we will put a notice on the welcome page of our platform.</p>

<p>
    Written: 7/6/2023<br/>
    Updated: 8/6/2023
</p>

{% endblock %}
