{% extends 'base-bare.jinja2' %}

{% block content %}

  <form method="POST" action="{{ url_for('register') }}">
    {{ form.csrf_token }}
    <label class="w3-text-black"><b>Username</b></label>
    {{ form.name(class="w3-input w3-border w3-light-grey") }}
    <br>
    <label class="w3-text-black"><b>Password</b></label>
    {{ form.password(class="w3-input w3-border w3-light-grey") }}
    <br>
    <label class="w3-text-black"><b>Real Name</b></label>
    {{ form.real_name(class="w3-input w3-border w3-light-grey") }}
    <br>
    <label class="w3-text-black"><b>Email</b></label>
    {{ form.email(class="w3-input w3-border w3-light-grey") }}
    <br>
    <label class="w3-text-black"><b>Organization</b></label>
    {{ form.organization(class="w3-input w3-border w3-light-grey") }}
    <br>
    <label class="w3-text-black"><b>Group</b></label>
    {{ form.group(class="w3-select w3-border w3-light-grey") }}
    <br><br>
    <label class="w3-text-black"><b>Job Title</b></label>
    {{ form.job_title(class="w3-input w3-border w3-light-grey") }}
    <br>
    <button class="w3-btn ada-blue w3-round" type="submit">Submit</button>
  </form>

{% endblock %}
