{% extends 'base.jinja2' %}

{% block content %}

  {{ info(gettext("Your username is '{username}'. If you'd like to change it, please let us know."), username=current_user.username) }}
  {{ info(gettext("If you log in with a third party provider like Google, you should change your given name, family name and email on the provider, and it will be updated here next time you log in.")) }}
  {{ idea(gettext("If you log in with a third party provider, you can set a password here. That will allow you to use either the local login form or the provider login method.")) }}

  <div class="w3-container w3-yellow">
    <h2>{{ gettext("User Settings") }}</h2>
  </div>

  <div class="w3-container w3-pale-yellow">
    <form method="POST" action="/settings?form_choice=settings">
      {{ settings_form.hidden_tag() }}
      <p>
        <div class="w3-half" style="padding-right: 5px;">
          {{ settings_form.given_name.label() }}
          {{ settings_form.given_name(class="w3-input w3-round w3-border") }}
        </div>
        <div class="w3-half" style="padding-left: 5px;">
          {{ settings_form.family_name.label() }}
          {{ settings_form.family_name(class="w3-input w3-round w3-border") }}
        </div>
      </p>
      <br/><br/><br/> {# what? why? #}
      <p>
        {{ settings_form.organization.label() }}
        {{ settings_form.organization(class="w3-input w3-round w3-border") }}
      </p>
      <p>
        {{ settings_form.job_title.label() }}
        {{ settings_form.job_title(class="w3-input w3-round w3-border") }}
      </p>
      <p>
        {{ settings_form.email.label() }}
        {{ settings_form.email(class="w3-input w3-round w3-border") }}
      </p>
      <p>
        <div class="w3-half" style="padding-right: 5px;">
          {{ settings_form.language.label() }}
          {{ settings_form.language(class="w3-input w3-round w3-white w3-border") }}
        </div>
        <div class="w3-half" style="padding-left: 5px;">
          {{ settings_form.timezone.label() }}
          {{ settings_form.timezone(class="w3-input w3-round w3-white w3-border") }}
        </div>
      </p>
      <br/><br/><br/> {# what? why? #}

      <p>
        <div class="w3-half" style="padding-right: 5px;">
          {{ settings_form.password.label() }}
          {{ settings_form.password(class="w3-input w3-round w3-border") }}
        </div>
        <div class="w3-half" style="padding-left: 5px;">
          {{ settings_form.password_confirm.label() }}
          {{ settings_form.password_confirm(class="w3-input w3-round w3-border") }}
        </div>
      </p>

      <br/><br/><br/> {# what? why? #}

      <p>
        {{ settings_form.submit(class="w3-button w3-round w3-blue") }}
      </p>
    </form>
  </div>
  <br/>

  <div class="w3-container w3-blue">
    <h2>{{ gettext("Authorized SSH Keys") }}</h2>
  </div>

  <div class="w3-container w3-pale-blue">
    <form method="POST" action="/settings?form_choice=auth_keys">
      {{ auth_keys_form.hidden_tag() }}
      <p>
        {{ idea(gettext("You can set the authorized_keys file for your new machines here.")) }}
        <p>{{ auth_keys_form.content(class="w3-input w3-border w3-round") }}</p>
        <p>{{ auth_keys_form.submit(class="w3-button w3-round w3-blue", rows=20) }}</p>
      </p>
    </form>
  </div>
  <br/>

{% endblock %}
