{% extends 'base.jinja2' %}

{% block content %}

  {{ info(gettext("Your username is '{username}'. If you'd like to change it, please let us know."), username=current_user.username) }}
  {{ info(gettext("If you log in with a third party provider like Google, you should change your given name, family name and email on the provider, and it will be updated here next time you log in.")) }}
  {{ idea(gettext("If you log in with a third party provider, you can set a password here. That will allow you to use either the local login form or the provider login method.")) }}

  <div class="w3-container w3-yellow">
    <h2>{{ gettext("User Settings") }}</h2>
  </div>

  <div class="w3-container w3-pale-yellow">
    <form method="POST">
      {{ settings_form.hidden_tag() }}
      <p>
        <div class="w3-half" style="padding-right: 5px;">
          {{ settings_form.given_name.label() }}
          {{ settings_form.given_name(class="w3-input w3-round w3-border") }}
        </div>
        <div class="w3-half" style="padding-left: 5px;">
          {{ settings_form.family_name.label() }}
          {{ settings_form.family_name(class="w3-input w3-round w3-border") }}
        </div>
      </p>
      <br/><br/><br/> {# what? why? #}
      <p>
        {{ settings_form.organization.label() }}
        {{ settings_form.organization(class="w3-input w3-round w3-border") }}
      </p>
      <p>
        {{ settings_form.job_title.label() }}
        {{ settings_form.job_title(class="w3-input w3-round w3-border") }}
      </p>
      <p>
        <div class="w3-half" style="padding-right: 5px;">
          {{ settings_form.email.label() }}
          {{ settings_form.email(class="w3-input w3-round w3-border") }}
        </div>
        <div class="w3-half" style="padding-right: 5px;">
          {{ settings_form.email_confirm.label() }}
          {{ settings_form.email_confirm(class="w3-input w3-round w3-border") }}
        </div>
      </p>
      <br/><br/><br/> {# what? why? #}
      <p>
        <div class="w3-half" style="padding-right: 5px;">
          {{ settings_form.language.label() }}
          {{ settings_form.language(class="w3-input w3-round w3-white w3-border") }}
        </div>
        <div class="w3-half" style="padding-left: 5px;">
          {{ settings_form.timezone.label() }}
          {{ settings_form.timezone(class="w3-input w3-round w3-white w3-border") }}
        </div>
      </p>
      <br/><br/><br/> {# what? why? #}

      <p>
        <div class="w3-half" style="padding-right: 5px;">
          {{ settings_form.password.label() }}
          {{ settings_form.password(class="w3-input w3-round w3-border") }}
        </div>
        <div class="w3-half" style="padding-left: 5px;">
          {{ settings_form.password_confirm.label() }}
          {{ settings_form.password_confirm(class="w3-input w3-round w3-border") }}
        </div>
      </p>

      <br/><br/><br/> {# what? why? #}

      <p>
        {{ settings_form.submit_settings(class="w3-button w3-round w3-blue") }}
      </p>
    </form>
  </div>
  <br/>

  <div class="w3-container w3-yellow">
    <h2>{{ gettext("SSH Keys") }}</h2>
  </div>

  <div class="w3-container w3-pale-yellow">
    <form method="POST">
      {{ auth_keys_form.hidden_tag() }}
      <p>
        {{ idea(gettext("You can add additional SSH public keys and they will be deployed on new machines. The text box below provides support for SSH keys generated using the following algorithms: ssh-rsa, ssh-dss (DSA), ecdsa keys (with NIST curves) and ssh-ed25519.")) }}
        <p>{{ auth_keys_form.content(class="w3-input w3-border w3-round", id="auth_keys_form") }}</p>
        {{ auth_keys_form.submit_auth_keys(class="w3-button w3-round w3-blue") }}
        <a id="add_github_keys_button"  href="/download_priv_key" class="w3-button w3-round w3-blue" style="margin-left: 5px;">Append Public Keys From Your GitHub Account</a>
        <a id="download_priv_key_button"  href="/download_priv_key" class="w3-button w3-round w3-red" style="margin-left: 5px;">Download Your Private SSH Key</a>
      </p>
    </form>
  </div>
  <br/>

{% endblock %}

{% block javascript %}
  <script>
  document.getElementById('download_priv_key_button').addEventListener('click', function(event) {
    if (!confirm('Are you sure you want to download your private key? Misplacing it could potentially allow bad actors to access your machines.')) {
      event.preventDefault();
    }
  });

  document.getElementById('add_github_keys_button').addEventListener('click', function(event) {
    event.preventDefault();
    var gh_username = prompt("Please your GitHub username:");
    if (gh_username !== null) {
      var response_text = ""
      fetch("get_github_keys/" + gh_username)
        .then(async response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          response_text = await response.text();
          auth_keys_form = document.getElementById("auth_keys_form")
          auth_keys_form.value = auth_keys_form.value + response_text
        })
        .catch(error => {
          alert("Could not get keys. Did you type your username correctly?")
        });
    } else {
      alert("No username provided.");
    }
  });
  </script>
{% endblock %}
