{% extends 'base.jinja2' %}

{% block content %}

  <h2>{{ _("Welcome to ADA Data Analysis 2025") }}</h2>

  {% if current_user.is_admin %}
    <div class="w3-container w3-red">
      <h2>{{ gettext("Problem Reports") }}</h2>
    </div>
    <div class="w3-container w3-pale-red">
      <p>
        {% if unresolved_problem_reports %}
        <table class="w3-table-all">
          <thead>
            <th>{{ gettext("User") }}</th>
            <th>{{ gettext("Report title") }}</th>
            <th>{{ gettext("Created ago") }}</th>
          </thead>
          {% for r in unresolved_problem_reports %}
            <tr>
              <td>{{ r.user.username }}</td>
              <td>{{ r.title }}</td>
              <td>{{ humanize.naturaldelta(now - r.creation_date) }}</td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        {{ gettext("No unresolved problems.") }}
      {% endif %}
      </p>
    </div>

    <br/>
    <div class="w3-container w3-yellow">
      <h3>{{ gettext('Users Awaiting Activation') }}</h3>
    </div>
    <div class="w3-container w3-pale-yellow">
      {{ idea(gettext("Use the flask-admin User view action 'Setup user' to activate users.")) }}
      <p>
        {% if not_activated_users %}
          <table class="w3-table-all">
            <thead>
              <th>{{ gettext('Username') }}</th>
              <th>{{ gettext('Real name') }}</th>
              <th>{{ gettext('Email') }}</th>
              <th>{{ gettext('Registered') }}</th>
            </thead>
            {% for u in not_activated_users %}
              <tr>
                <td>{{ u.username }}</td>
                <td>{{ u.given_name }} {{ u.family_name }}</td>
                <td>{{ u.email }}</td>
                <td>{{ humanize.naturaldelta(time_now - u.creation_date) }}</td>
              </tr>
            {% endfor %}
          </table>
        {% else %}
          {{ gettext('All users are activated.') }}
        {% endif %}
      </p>
    </div>
  {% endif %}


  <p>{{ _("Thank you for choosing ADA Data Analysis, the next-generation platform for data analysis and machine learning. We are thrilled to have you onboard and we are certain that you will appreciate the transformative capabilities of our newly improved service.") }}</p>

  <h3>{{ _("Understanding ADA: Your Personal Data Analysis Platform") }}</h3>

  <p>{{ _("ADA is a new data analysis service that offers you the flexibility to access your data remotely, from anywhere at any time. With ADA, you can create virtual machines, which are essentially cloud-based Linux desktop environments. These environments are fully equipped with all the necessary software, data storage, and computational power you need to perform your analysis seamlessly. No more worrying about hardware limitations, software incompatibility, or data security; we've got you covered.") }}</p>

  <h3>{{ _("Help & Information") }}</h3>

  <p>{{ _("To ensure your experience is as smooth as possible, we've integrated a dedicated 'Help' button on the side bar menu. Simply click on this button to access a wide range of information related to each aspect of our platform. From how-to guides and tutorials to troubleshooting tips and FAQs, these pages are designed to help you make the most of the ADA platform.") }}</p>

  <h3>{{ _("We're Here to Help: Feedback and Support") }}</h3>

  <p>{{ _("Your input is invaluable to us. If you have a question, a request, or encounter an issue, we encourage you to reach out to us. We're here to support you every step of the way. Our team of experts is always ready to provide assistance, answer your questions, and work on your suggestions to continually improve our service.") }}</p>

  <p>{{ _("Contact us at:") }}</p> {{ email("contact@ada-science.io") }}

  <p>{{ _("Your journey into the future of data analysis begins with ADA. Thank you for choosing us as your partner in this exciting endeavor. Enjoy your exploration!") }}</p>

{% endblock %}
