[Unit]
Description=Mount ada user share
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/ada-env
ExecStart=/bin/bash -c "/usr/bin/sshfs -f ${ADA_SHARE_SSH_USERNAME}@ada-userfs.oxfordfun.com: /media/ada-user-share -o IdentityFile=/home/ubuntu/.ssh/ada-id_rsa,UserKnownHostsFile=/dev/null,StrictHostKeyChecking=no"
ExecStop=/bin/fusermount -u /media/ada-user-share
User=ubuntu
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
