[Desktop Entry]
Version=1.0
Type=Application
Name=Paraview
Comment=
Exec=/opt/ParaView-5.11.1-MPI-Linux-Python3.9-x86_64/bin/paraview
Icon=/opt/ParaView-5.11.1-MPI-Linux-Python3.9-x86_64/share/icons/hicolor/96x96/apps/paraview.png
Path=
Terminal=false
StartupNotify=false